<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
    <nav>
        <img src="assets/img/logo.png" alt="">
        <img src="assets/img/Vector.png" alt="" id="logoHam" onclick="openHam()">
    </nav>
    <section id="hamburger" class="unShow">
        <img src="assets/img/closeHam.svg" alt="" id="hamImg" onclick="shutHam()">
        <li><a href="/">HOME</a></li>
        <li><a href="/blog">BLOGPAGE</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </section>    
</header> 
<main>
    <div>
        <img src="assets/img/Dragon.png" alt="">
    </div>
</main>
<script src="assets/main.js"></script>
</body>
</html>