<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
    <nav>
        <img id='logo' src="assets/img/logo.png" alt="">
        <img src="assets/img/Vector.png" alt="" id="logoHam" onclick="openHam()">
    </nav>
    <section id="hamburger" class="unShow">
        <img src="assets/img/closeHam.svg" alt="" id="hamImg" onclick="shutHam()">
        <li><a href="/">HOME</a></li>
        <li><a href="/blog">BLOGPAGE</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </section>    
</header> 
<main>
    <section class="hero">
    <article>
        <h1>New Automation <br> Tool for Your Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus tristique vulputate ultrices ut mauris <br> tellus at. Posuere sollicitudin odio tellus elit.</p>
        <a href="" id="btn_see">See Our Project</a>
    </article>
    <img src="assets/img/illustration.png" alt="">
</section>
<section class="help">
    <h2>What we do to help <br> our client grow in  <br>  digital era,</h2>
    <article>
        <div><img src="assets/img/1.png" alt=""></div>
        <h5>Make Your business To Be <br> Better Famous In Internet</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Lern more<span></span>&#8594;</a>
    </article>
    <article>
        <div><img src="assets/img/2.png" alt=""></div>
        <h5>Bring Technology To Your <br> Comfrotable Home</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Learn more<span></span>&#8594;</a>
    </article>
    <article>
        <div><img src="assets/img/3.png" alt=""></div>
        <h5>Build Your Digital Product <br> That Suitable For Your Need</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Learn more<span></span>&#8594;</a>
    </article>
</section>
</main>
<script src="assets/main.js"></script>
</body>
</html>