<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
    <nav>
        <img id='logo' src="assets/img/logo.png" alt="">
        <img src="assets/img/Vector.png" alt="" id="logoHam" onclick="openHam()">
    </nav>
    <section id="hamburger" class="unShow">
        <img src="assets/img/closeHam.svg" alt="" id="hamImg" onclick="shutHam()">
        <li><a href="/">HOME</a></li>
        <li><a href="/blog">BLOGPAGE</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </section>    
</header> 
<main>
    <section class="hero">
    <article>
        <h1>New Automation <br> Tool for Your Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus tristique vulputate ultrices ut mauris <br> tellus at. Posuere sollicitudin odio tellus elit.</p>
        <a href="" id="btn_see">See Our Project</a>
    </article>
    <img src="assets/img/illustration.png" alt="">
</section>
<section class="help">
    <h2>What we do to help <br> our client grow in  <br>  digital era,</h2>
    <article>
        <div><img src="assets/img/1.png" alt=""></div>
        <h5>Make Your business To Be <br> Better Famous In Internet</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Lern more<span></span>&#8594;</a>
    </article>
    <article id= 'last'>
        <div><img src="assets/img/2.png" alt=""></div>
        <h5>Bring Technology To Your <br> Comfrotable Home</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Learn more<span></span>&#8594;</a>
    </article>
    <article >
        <div><img src="assets/img/3.png" alt=""></div>
        <h5>Build Your Digital Product <br> That Suitable For Your Need</h5>
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.</p>
        <a href="" class="btn_help">Learn more<span></span>&#8594;</a>
    </article>
</section>
<section class="finished">
    <article>
        <h2>Our Finished Project</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </article>
    <img src="assets/img/Mask1.png" alt="">
    <div>
        <img src="assets/img/Mask2.png" alt="">
        <img src="assets/img/Mask3.png" alt="">
    </div>
</section>
</main>
<footer>
    <section id="footer1">
        <article>
            <h2>Our Beloved <br> Client</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </article>
        <article>
            <table>
                <tr>
                    <td>LOGO CLIENT 1</td>
                    <td>LOGO CLIENT 2</td>
                    <td>LOGO CLIENT 3</td>
                    <td>LOGO CLIENT 4</td>
                </tr>
                <tr>
                    <td>LOGO CLIENT 5</td>
                    <td>LOGO CLIENT 6</td>
                    <td>LOGO CLIENT 7</td>
                    <td>More Client</td>
                </tr>
            </table>
        </article>
        <section id="footer2">
            <article>
                <div>
                    <h2>Intersted to work with our team?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut officia aliquam, eligendi neque quam eum consectetur dolor corrupti quas sit fugit laborum sint ab repudiandae voluptatum accusantium tenetur ratione.</p>
                   
                </div>
                <div><a href="" class="btn3">Lets Talk</a></div>
            </article>
            <hr>
            <section id="footer3">
                <article>
                    <div><img src="assets/img/Group.png" alt=""><h3>Afrianska</h3></div>
                    <p><span>A.</span>Lorem ipsum dolor sit amet,<br> conseteure adispim</p>
                    <p><span>T.</span>+523 3452345 2345</p>
                    <p><span>E.</span>hallo.afrian@gmail.com</p>
                    
                </article>
                <article>
                    <h3>About US</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">What We Do</a></li>
                        <li><a href="">Project</a></li>
                        <li><a href="">How It Work With Us</a></li>
                    </ul>
                </article>
                <article>
                    <h3>Follow US</h3>
                    <ul>
                        <li><a href="">Instegram</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Linkedin</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </article>
            </section>
            <p>2019 © Afrianska. All rights reserved.</p>
        </section>
    </section>
</footer>
<script src="assets/main.js"></script>
</body>
</html>