/* 
@font-face{
    font-family: 'gilroy';
    font-weight: bold;
    src: url('fonds/Gilroy-ExtraBold/Gilroy-ExtraBold.woff');
}
@font-face{
    font-family: 'gilroy';
    font-weight: normal;
    src: url('fonds/Gilroy-Regular/Gilroy-Regular.woff')
}
@font-face{
    font-family: 'galien';
    src: url('fonds/Galien-Regular/Galien\ Regular.woff')
}
*/
/* *{
    margin: 10%;
    font-family: 'gilroy';
}  */
body{
    overflow-x: hidden;

}
header{
    height: 10vh;
    position: relative;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    margin: auto 5%;
}
 .showLogo{
    display: block;
} 
 .unshowLogo{
    display: none;
} 
.unShow{
    position: absolute;
    height: 100vh;
    width: 20%;
    top: 0;
    right:  -80%;
    background-color: rgba(90, 152, 208, .6);
    transition: left .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.show{
    right: 0;    
}
#hamImg{
    position: absolute;
    height:30px;
    top: 26px;
    right: 64px;
    color: white;
}
#hamburger li{
    list-style: none;
    font-size: 3em;
}
#hamburger li a{
    text-decoration: none;
    color: #ffffff;
}
#hamburger li a:hover{
   text-decoration: underline;
    font-weight: 600;
}
#logoHam
{
    width: 90px;
    position: absolute;
    height:30px;
    top: 26px;
    right: 64px;
}
#logo
{
    width: 7%;
}

.hero{
    height: 80vh;
    background: linear-gradient(0deg, #98c3e84b 8.84%, rgba(152, 195, 232, 0) 31.12%);
    display: flex;
}
.hero article{
    margin-top: 10vh;
    margin-left: 15%;
}
.hero p{
margin-bottom: 10vh;
font-family: Gilroy;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6
}
.hero h1
{
padding-bottom: 6%;
font-family: Galien;
font-size: 64px;
line-height: 74px;
letter-spacing: 0.04em;
color: #1F3F68;
}
.hero a
{
text-decoration: none;
font-family: Gilroy;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
#btn_see
{
 background: #5A98D0;
box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
border-radius: 10px;
padding: 2% 5%;
}
.help
{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30vh 5% 30vh 15%;
    row-gap: 100px;
}
#last{
    transform: translateY(-60%);
  
 }
.help article{
    width: 50%;
    height: 50vh;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 0 5%;
}
.help h2
{
font-family: Gilroy;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.05em;
color: #316099;
}
.help h5
{
font-family: Gilroy;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
color: #1F3F68;
}
.help p
{
font-family: Gilroy;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
}
.help img
{
    margin-left: 7%;
}
.btn_help
{
    color: #5A98D0;
    text-decoration: none;
}
.finished h2
{
   
font-family: Gilroy;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.05em;
color: #1F3F68;
width: 80%;
margin-right: 10%;
}
.finished p
{

font-family: Gilroy;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
}
.finished{
    margin: auto 15%;
   
}
.finished article{
    display: flex;
    margin-bottom: 15vh;
    margin-right: 20vh;
}


.finished div{
    margin: 15vh 0 20vh;
    width: 940px;
    display: flex;
    justify-content: space-between;
}

/* foorer */

#footer1{
    position: relative;
    height: 240vh;
    background-color: #5A98D0;
    border-top-left-radius: 200px;
    bottom: 0;
    z-index: -1;
    padding: 0 15%;
}
#footer2{
    position: absolute;
    height: 140vh;
    width: 80%;
    margin-left: -15%;
    padding-left: 15%;
    background-color: #316099;
    bottom: 0;
    z-index: 999;
    border-top-right-radius: 200px;
}


#footer1 article{
    padding-top: 15vh;
    display: flex;
}
#footer1 article h2{
    width: 60%;
}
footer h2
{
    font-family: Gilroy;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
}

    

 footer p, footer td{

    font-family: Gilroy;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.6;
}


footer table{
    width: 100%;
    text-align: center;
}
footer table td{
    height: 140px;
    font-size: 1.4em;
}
footer tr:last-of-type td:last-of-type{
    background-color: #1F3F68;
}


#footer2 > article:first-of-type{
    display: grid;
    grid-template-columns: 60% 40%;
}
#footer2 > article:first-of-type h2{
    margin-bottom: 30px;
}
#footer2 > article:first-of-type div:last-of-type{
    margin-top: 50px;
    margin-left: 30%;
}


footer hr{
    margin-top: 15vh;
}


#footer3{
    display: grid;
    grid-template-columns: 40% 25% 25%;
    height: 60vh;
}
#footer3 article{
    display: flex;
    flex-direction: column;
}
#footer3 h3{
    color: #ffffff;
    font-size: 1.6em;
    font-weight: normal;
}
#footer3 a{
    color: #ffffff;
    text-decoration: none;
}
#footer3 ul{
    padding-left: 0;
}
#footer3 li{
    list-style: none;
    margin-top: 30px;
}
#footer3 span{
    font-weight: bold;
    padding-right: 20px;
}
#footer3 p, #footer3 div{
    margin-bottom: 30px;
}
#footer3 + p{
    opacity: 0.4
}

.btn3
{
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 4% 15%;
    text-decoration: none;
    color: white;
}